.confirmation{
  

header{
  height: 200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

#logo{
  margin: 50px;
}
#logoImg{
  width: 141px;
  height: 95px;
}

#navigation{
  height: 100px;
  width: 900px;
  margin: 50px;
  color: black;
}

#button{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: end;
}

nav{
  width: 100%;
  height: 50%;
  font-family: 'Roboto', sans-serif;
}



#sectionCommande{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  margin-bottom: 0;
  max-width: 1253px;
}

#numeroCommande{
  background-color: #D9D9D9;
  color: #494C4F;
  font-size: 2.3rem;
  font-weight: bold;
}


#clickAndCollect img{
  width: 341px;
  height: 90px;
}

#line{
  width: 1253px;
  height: 3px;
  margin: 10px 100px;
}

.modePaiment{
  width: 90px;
  height: 90px;
  margin-right: 20px;
}


#images{
  display: flex;
  justify-content: start;
  align-items: center;
}
a{
  text-decoration: none;
  color: #5F6368;
}


#sectionPaiment{
  height: 300px;
  width: 450px;
  margin: 100px auto;
  padding-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#p1{
  background-color: #D9D9D9;
  color: #494C4F;
  font-size: 2rem;
  font-weight: bolder;
  margin: 20px auto;
}
#p2{
  color: #494C4F;
  font-size: 2rem;
  font-weight: bolder;
  margin: 20px auto;
}
#p3{
  color: black;
  font-size: 2.3rem;
  font-weight: bolder;
  margin: 20px auto;
}





footer{
  background-color: #102940;
  height: fit-content;
  margin: 0 auto;
  color: white;
}

#sectionFooter{
  height: fit-content;
  display: flex;
  padding: 30px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;
  max-width: 1100px;
  justify-content: space-between;
}

#footer1{
  height: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#footer2{
  height: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#footer3{
  height: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#footer4{
  height: 100%;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#footer5{
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.socialMedia{
  transition: all 0.4s;
  margin-right: 10px;
}
.socialMedia:hover{
  cursor: pointer;
  background-color: #ff00ee;
  border-radius: 80%;
  transform: scale(1.1);
}

.footerLink{
  transition: all 0.2s;
}
.footerLink:hover{
  cursor: pointer;
  transform: scale(1.2);
  color: #ee56e4;
}

button{
  margin-right: 70px;
}

ol{
  display: flex;
  justify-content: space-around;
  padding:20px;
}



h1{
  margin-top: 20px;
  font-size: 2.5rem;
  color: #D9ADD6;
  font-family: 'Homeday';
}

h2, p{
  font-size: 1.7rem;
  font-weight: 500;
  color: #494C4F;
}
p{
  color: #979797;
}



h3{
  margin: 20px 0;
  font-size: 1.7rem;
  
}



.footerLink{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

.socialMedia{
  width: 58px;
  height: 58px;
  margin-bottom: 20px;
}

.navItems{
  font-size: 1.1rem;
  color: black;
  text-decoration: none;
}

.navItems:hover{
  font-size: 1.1rem;
  color: rgb(239, 224, 58);
  transform: scale(1.05);
}

button{
  width: 200px;
  height: 50px;
  background-color: #D9ADD6;
  border: none;
  border-radius: 7px;
  font-size: 1.3rem;
  transition: 0.2s;
  color: white;
}

button:hover{
 cursor: pointer;
 background-color: #ee56e4;
 transform: scale(1.03);
 filter: brightness(80%);
}


@media (max-width: 800px) {
  #sectionCommande{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  #numeroCommande{
    order: 2;
    margin: 10px;
  }
  #clickAndCollect{
    order: 1;
    margin: 10px;
    margin-bottom: 30px;
  }

  #line{
    width: auto;
    margin: 5px auto;
  }
  
  #sectionPaiment{
    width: 90%;
  }
}
}