
.slick-slider img:not(.slick-arrow) {
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.slick-next::before, .slick-prev::before {
    font-size: 30px !important;
    line-height: 1;
    opacity: .75;
    color: #e277db !important;
  }

.slick-dots {
    display: none;
}
.slick-slider{
    width: 650px;
    margin: 0 auto;
}

.slick-arrow{
    position: relative !important;
}

.slick-next{
    left: 660px !important;
    top: -110px !important;
}
.slick-prev{
    left: -35px !important;
    top: 120px !important;
}

#slider-container{
    padding: 50px;
    width: fit-content;
    margin: 100px auto;
}

.slider-element{
    margin: 10px;
}

.home button{
    background: none !important;
    width: 10px !important;
    height: 10px !important;
    font-size: 0 !important;
}
#text{
    display: none !important;
}

.home button:hover {
    cursor: pointer;
    background: none !important;
    transform: scale(1.03);
  }


  @media(max-width: 1000px) {
    #section2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: fit-content !important;
        margin: 20px auto;
    }
    #menu{
        margin: 0 auto;
    }
  }